<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../css/ms.css">
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
        <link rel="shortcut icon" href="free.ico">
        <title>面试题：前端工程师（张晓敏）</title>
    </head>
    <body>
        <div  id="resume" class="col-md-12 col-sm-12 col-xl-12" style="padding: 0; height: auto;">
            <section class="col-md-12 col-sm-12 col-xl-12 top" style="padding: 0">
                <div class="col-md-12 col-sm-12 col-xl-12 notice">
                    <span class="notice_s">公告：办理会员五折起</span>
                </div>
                <div class="col-md-12 col-sm-12 col-xl-12 nav_tion" style="padding-left: 10%;">
                    <div class="col-md-2 col-sm-2 col-xl-2 one">
                        <img src="../img/tt.png" style="width: 137px;height: 70px;">   
                    </div>
                    <div class="col-md-10 col-sm-10 col-xl-10" style="padding: 0;">
                        <ul>
                            <li class="col-md-2 col-sm-2 col-xl-2 one two" style="padding: 0;"><a href="#" class="a">首页</a></li>
                            <li class="col-md-2 col-sm-2 col-xl-2 one two" style="padding: 0;"><a href="#" class="a">图片</a></li>
                            <li class="col-md-2 col-sm-2 col-xl-2 one two" style="padding: 0;"><a href="#" class="a">灵感</a></li>
                            <li class="col-md-2 col-sm-2 col-xl-2 one two" style="padding: 0;"><a href="#" class="a">最新活动</a></li>
                            <li class="col-md-2 col-sm-2 col-xl-2 one two" style="padding: 0;" style="font-size: 13px;">
                                <span><a href="#" class="a">登录</a></span>
                                <span style="margin-left: 10px;"><a href="#" class="a">注册</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xl-12 search_find" style="position: absolute;">
                  <div class="search_input">
                      <input type="search" name="" value="" class="input_seach">
                      <div class="btn_n" style="width: 100%;">
                        <img src="../img/search.png" class="img_search">
                      </div>
                  </div>
                  <div style="width: 40%;margin:auto;height: auto;color: #fff;margin-top: 10px;">
                      <span  class="col-md-3 col-sm-3 col-xl-3 one" style="padding: 0;">花瓣</span>
                      <span  class="col-md-3 col-sm-3 col-xl-3 one" style="padding: 0;">冬天</span>
                      <span  class="col-md-3 col-sm-3 col-xl-3 one" style="padding: 0;">雪景</span>
                      <span  class="col-md-3 col-sm-3 col-xl-3 one" style="padding: 0;">秋天</span>
                  </div>
                </div>
            </section>
            <section class="col-md-12 col-sm-12 col-xl-12" style="padding: 0;background: #efefef;">
                <div class="fication" style="height: auto;">
                   <div class="classification">
                        <span>分类</span>
                        <div style="height:1px;width:30%;margin:auto;background:#666;overflow:hidden;"></div>
                        <span>classification</span>
                   </div>
                   <div style="width: 35%;margin:auto;height: 30px;color: #000;margin-top: 10px;">
                      <span  class="col-md-3 col-sm-3 col-xl-3 one">花瓣</span>
                      <span  class="col-md-3 col-sm-3 col-xl-3 one">冬天</span>
                      <span  class="col-md-3 col-sm-3 col-xl-3 one">雪景</span>
                      <span  class="col-md-3 col-sm-3 col-xl-3 one">秋天</span>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xl-12 imgs" style="padding: 0;height: auto;background: #fff;padding-bottom: 15px;"></div>
                   <div class="col-md-12 col-sm-12 col-xl-12 fication_1" style="padding: 0;background: #fff;">
                        <div class="col-md-5 col-sm-5 col-xl-5 one" style="height:1px;width:20%;background:#666;overflow:hidden;margin-top: 10px;margin-left: 25%;"></div>
                        <div class="col-md-1 col-sm-1 col-xl-1 one more" style="padding: 0;padding: 0px;font-size: 16px;color: #fd0808;">查看更多</div>
                        <div class="col-md-5 col-sm-5 col-xl-5 one" style="height:1px;width:20%;background:#666;overflow:hidden;margin-top: 10px;"></div>
                   </div>
                </div>
            </section>
            <section class="col-md-12 col-sm-12 col-xl-12" style="padding: 0;height: 160px;">
                <img src="../img/ton.png" style="width:100%;height: 160px;">
                <div class="classification" style="margin-top: -8%; color: #fff;">
                    <span>分类</span>
                    <div style="height:1px;width:30%;margin:auto;background:#fff;overflow:hidden;position: sticky;"></div>
                    <span>classification</span>
               </div>
            </section>
            <section class="col-md-12 col-sm-12 col-xl-12" style="padding: 0;background: #efefef;">
                <div class="col-md-12 col-sm-12 col-xl-12" style="padding: 0;width: 80%;margin:auto;margin-left: 10%;">
                   <div class="col-md-12 col-sm-12 col-xl-12" style="padding: 0;">
                        <div class="col-md-4 col-sm-4 col-xl-4 img_tp" style="padding: 10px;" v-for="date in other_list">
                            <img  v-bind:src="[date.img]" style="width: 100%;height: 100%;">
                            <div class="flow">
                                <div class="classification" style="bottom: 0;position: absolute;width: 95%; color: #fff;">
                                    <span style="float: left;margin-left: 40px;">{{date.name}}</span>
                                    <div style="height:1px;width:91%;margin:auto;background:#fff;overflow:hidden;position: sticky;"></div>
                                    <span style="float: left;margin-left: 40px;">{{date.language}}</span>
                               </div>
                            </div>
                        </div>
                   </div>
                </div>
            </section>
          <section class="col-md-12 col-sm-12 col-xl-12" style="padding: 0;height: 130px;">
                <img src="../img/us.jpg" style="width:100%;height: 130px;">
                <div class="classification" style="margin-top: -7%; color: #fff;">
                    <span>分类</span>
                    <div style="height:1px;width:30%;margin:auto;background:#fff;overflow:hidden;position: sticky;"></div>
                    <span>classification</span>
               </div>
            </section>
            <section class="col-md-12 col-sm-12 col-xl-12" style="padding: 0;background: #fff;margin-top: 20px;">
                <div class="col-md-12 col-sm-12 col-xl-12" style="padding: 0;width: 80%;margin:auto;margin-left: 10%;">
                   <div class="col-md-12 col-sm-12 col-xl-12" style="padding: 0;">
                        <div class="col-md-6 col-sm-6 col-xl-6" style="padding: 0;width: 50%;height: 360px;">
                            <img src="../img/sp.png" style="width: 100%;height: 100%;">
                            <div class="btn_pf" style="width: 60px;height: 60px;margin: -30% 0 0 46%;">
                                 <img src="../img/pf.png" style="width: 100%;height: 100%;">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xl-6" style="padding: 0;height: 360px;">
                           <div class="col-md-11 col-sm-11 col-xl-11">
                               <h3 style="text-align: center;">我们的介绍</h3>
                               <div style="width: 80%;margin-left: 10%;font-size: 16px;line-height: 30px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{info}}</div>
                           </div>
                           <div class="col-md-12 col-sm-12 col-xl-12 moss">
                                <div class="btn_morr" style="color: red;float: right;">查看更多</div>
                           </div>
                        </div>
                   </div>
            </section>
            <section class="col-md-12 col-sm-12 col-xl-12" style="padding: 0;background: #fff;margin-top: 30px;">
                <div class="col-md-12 col-sm-12 col-xl-12" style="padding: 0;width: 80%;margin:auto;margin-left: 10%;height: 180px;">
                    <div class="col-md-3 col-sm-3 col-xl-3" style="padding: 0;line-height: 80px;" v-for="date in roue">
                        <div class="roule"></div>
                        <p style="text-align: center;margin-top: -9%;font-size: 16px;">{{date.name}}</p>
                    </div>
                </div>
            </section>
            <section class="col-md-12 col-sm-12 col-xl-12" style="padding: 0;background: #fff;margin-top: 30px;border-top: 1px solid rgba(76,76,76,1);margin-bottom: 30px;">
               <div class="col-md-12 col-sm-12 col-xl-12" style="padding: 0;width:80%;margin:auto;margin-left: 10%;">
                   <div class="col-md-12 col-sm-12 col-xl-12" style="padding: 0;margin-top: 20px;">
                        <div class="col-md-3 col-sm-3 col-xl-3">
                            <img src="../img/tt.png" style="width: 140px;height: 70px;margin-left: 20%;">
                        </div>
                        <div class="col-md-5 col-sm-5 col-xl-5">
                             <ul>
                                 <li class="col-md-6 col-sm-6 col-xl-6"  v-for="date in list" style="height: 30px;line-height: 30px;">{{date.name}}</li>
                             </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xl-4">
                            <div class="col-md-6 col-sm-6 col-xl-6 party" style="padding: 0;width: 100px;height: 100px;"></div>
                            <div class="col-md-6 col-sm-6 col-xl-6" style="padding: 0;">
                                <div class="classification" style="margin-top: 0%; color: #000;font-size: 14px;margin-top: 15px;">
                                    <span>在线客服</span>
                                    <div style="height:1px;width:80%;margin:auto;background:#000;overflow:hidden;position: sticky;"></div>
                                    <span style="margin: 0；">400-26441</span>
                                    <span style="margin: 0；">461136456@qq.com</span>
                               </div>
                            </div>
                        </div>
                   </div>
                </div>
            </section>
        </div>
    </body>
    <script src="../js/jquery.min.js"></script>
     <script src="../js/vue.js"></script> 
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/react_resune.js"></script>   
    <script type="text/javascript" src="../js/notice.js"></script>
</html>
